/* Color Theme Swatches in Hex */
.SUMMER-JAZZ-SERIES-2023-1-hex {
  color: #b3b0bf;
}
.SUMMER-JAZZ-SERIES-2023-2-hex {
  color: #192e59;
}
.SUMMER-JAZZ-SERIES-2023-3-hex {
  color: #132640;
}
.SUMMER-JAZZ-SERIES-2023-4-hex {
  color: #3d5473;
}
.SUMMER-JAZZ-SERIES-2023-5-hex {
  color: #0d0d0d;
}

:root {
  --black1: #171321;
  --black2: #0d0d0d;
  --blue1: #3d5473;
  --blue2: #132640;
  --blue3: #192e59;
  --gray: #b3b0bf;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --nunito: "Nunito", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--nunito-sans);
  font-size: var(--font-size);

  margin: 0;
  padding: 0;

  background-color: var(--black1);
  color: var(--white);
}
h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

/* intro styles */
#intro {
  padding-bottom: 10rem;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--nunito);
}

#intro .name span {
  font-family: var(--nunito-sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* Contact me styles */

#contact {
  padding: 3rem 0;
  background-color: var(--plum);
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
}

#contact div {
  width: 30rem;
  margin: 0 auto;
}

#contact p {
  font-size: 1.5rem;
}

#contact > p {
  padding-top: 2rem;
}

nav {
  font-family: var(--nunito);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--nunito-sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover,
nav a [class*="fa-"]:hover {
  color: var(--magenta);
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--aqua);
  border-radius: 0.5rem;
  background-color: var(--blue2);
  color: var(--magenta);
}

.button:hover {
  background-color: var(--blue3);
  color: var(--white);
  border-color: var(--magenta);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier > {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
*/
